<style type="text/css">
hr.footer {
    border-top: 1px solid #BCBCBC;
    margin-top: 20px;
    margin-bottom: 2px;
}
table.footer {
    margin-bottom: 10px;
    border-bottom: none;
    border-collapse: unset;
}
table.footer > tbody {
    border-bottom: 0px;
}
div.tocify-extend-page {
	height: 10px !important;
}
p.footer {
  text-align: center;
}
</style>

<hr class="footer"/>
<center>
  <table class="footer" width="100%">
    <tr>
  </table>
</center>

<center>
  <p class="footer">
    <font size="2">
      &copy; <a href="https://brunofariadf.github.io/" target="_blank">Bruno Faria</a>. All rights reserved. Powered by <a href="https://www.r-project.org/" target="_blank">R</a> and <a href="https://rmarkdown.rstudio.com/" target="_blank">RMarkdown</a>.<br/>
    </font>
  </p>
</center>
